<div>
  <h2>商品詳細</h2>
    <div>
      <p><%= image_tag @item.image, size:"200x200" %></p>
      <p>商品名: <%= @item.name %></p>
      <p>商品説明文: <%= @item.introduction %></p>
      <p>ジャンル: <%= @item.genre.name %></p>
      <p>税込価格(税抜価格): <%= @item.with_tax_price.to_s(:delmited) %>円</p>
      <p>
        販売ステータス:
        <% if @item.is_active %>
         <%= link_to "販売中", admin_item_path(@item.id, post: {is_actived: true}), method: :put %>
        <% else %>
         <%= link_to "販売停止中", admin_item_path(@item.id, post: {is_actived: false}), method: :put %>
        <% end %>
      </p>
    </div>
    <%= link_to '編集する', edit_admin_item_path(@item.id), class: 'btn btn-success' %>
</div>
