<div>
  <h2>商品詳細</h2>
  <%= form_with model:item, local:true do |f| %>
    <div>
      <p>商品名: <%= @item.name %></p>
      <p>商品説明文: <%= @item.introduction %></p>
      <p>ジャンル: <%= @genre.name %></p>
      <p>税込価格(税抜価格): <%= @item.price.to_s(:delimited) %>円</p>
      <p>販売ステータス:</p>
    </div>
    <%= f.submit '編集する', class: 'btn btn-success' %>
  <% end %>
</div>
