<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
        <div>会員ID</div><div><%= @customer.id %></div>
        <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
          <div>氏名<%= f.text_field :last_name %> <%= f.text_field :first_name %></div>
          <div>フリガナ<%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></div>
          <div>住所<%= f.text_field :address %></div>
          <div>電話番号<%= f.text_field :phone_number %></div>
          <div>メールアドレス<%= f.text_field :email %></div>
          <div>会員ステータス<%= f.radio_button :is_deleted, "false" %><%= f.label :is_deleted, "有効" %><%= f.radio_button :is_deleted, "true" %><%= f.label :is_deleted, "退会" %></div>
          <div><%= f.submit "変更を保存" %></div>
        <% end %>
      </div>
    </div>
  </div>
</main>

