<h3>配送先登録/一覧</h3>

<%= form_with model: @delivery, url:public_deliveries_path do |f| %>
 <div class="form-group">
  <%= f.label :"郵便番号（ハイフンなし）", class: "brown-border px-3" %><br />
  <%= f.text_field :post_code, placeholder:"000000", autofocus: true, autocomplete: "email" %>
 </div>
 <div class="form-group">
  <%= f.label :"住所", class: "brown-border px-3" %><br />
  <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", autofocus: true, autocomplete: "email" %>
 </div>
 <div class="form-group">
  <%= f.label :"宛名", class: "brown-border px-3" %><br />
  <%= f.text_field :address_name, placeholder:"令和 道子", autofocus: true, autocomplete: "email" %>
 </div>
 </div>
  <%= f.submit "新規登録" %>
 </div>
<% end %>

<table class='table mt-4'>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
    </tr>
  </thead>
  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.post_code %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.address_name %></td>
        <td>
          <%= link_to "編集する", edit_public_delivery_path(delivery), class: 'btn btn-sm btn-primary' %>
          <%= link_to "削除する", public_delivery_path(delivery), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>