<main>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h3>注文履歴詳細</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>購入者</th><th><%= @customer.first_name %><%= @customer.last_name %></th>
            </tr>
            <tr>
              <th>注文日</th><th><%= @order.created_at %></th>
            </tr>
            <tr>
              <th>配送先</th>
              <th>
                <%= @order.delivery_post_code %><%= @order.delivery_address %><br />
                <%= @order.delivery_name %><br />
              </th>
            </tr>
            <tr>
              <th>支払方法</th><th><%= @order.pay_type_i18n %></th>
            </tr>
            <tr>
              <th>注文ステータス</th>
              <th>
                <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
                  <%= f.select :order_status, Order.order_statuses_i18n.invert %>
                  <%= f.submit "更新" , class:"btn btn-sm btn-success"%>
                <% end %>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                <%= order_detail.item.price %>
              </td>
              <td>
                <%= order_detail.amount %>
              </td>
              <td><%= order_detail.subtotal %></td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                <div>
                  <td>
                    <%= f.select :create_status, OrderDetail.create_statuses_i18n.invert %>
                  </td>
                  <td><%= f.submit "更新" , class:"btn btn-sm btn-success"%></td>

                </div>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <h3>商品合計</h3><div><%= @order.bill - 800 %>円</div>
        <h3>送料</h3><div><%= @order.postage %>円</div>
        <h3>請求金額</h3><div><%= @order.bill %>円</div>
      </div>
    </div>
  </div>
</main>