<h1>ジャンル一覧・追加</h1>
<div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
  <%= form_with model: @genre, url: admin_genres_path,  method: :post do |f| %>
  <%= render 'admin/genres/errors', genre: @genre %>
    <div>
      <label for="genre_name">ジャンル名</label>
      <%= f.text_field :name, autofocus: true, id: "genre_name", placeholder: "ジャンル名", class: "form-control name" %>
    </div>
    <div>
      <%= f.submit "新規登録", class: 'btn btn-success' %>
    </div>
  <% end %>
  <% @genres.each do |genre| %>
    <table class="table">
      <thead>
        <tr>ジャンル</tr>
        <tr colspan="2"></tr>
      </thead>
      <tbody>
        <td>
          <%= genre.name %>
        </td>
        <td>
          <%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %>
        </td>
      </tbody>
    </table>
  <% end %>
</div>