<h3>ショッピングカート</h3>

<table class='table mt-4'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <!--変数cart_itemの商品名:itemsテーブルのnameカラム-->
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.amount %></td>
        <td>
          <%= link_to "削除する", public_delivery_path(delivery), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>