<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :名前, class: "brown-border px-3" %>
      <div class="row">
        <%= f.text_field :first_name, placeholder:"姓 例）令和" %>
        <%= f.text_field :last_name, placeholder:"名 例）道子" %>
      </div>
    <%= f.label :フリガナ, class: "brown-border px-3" %>
      <div class="row">
        <%= f.text_field :first_name_kana, placeholder:"セイ 例）レイワ" %>
        <%= f.text_field :last_name_kana, placeholder:"メイ 例）ミチコ" %>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :メールアドレス, class: "brown-border px-3" %><br />
    <%= f.email_field :email, placeholder:"sample@example.com", autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= f.label :郵便番号（ハイフンなし）, class: "brown-border px-3" %><br />
    <%= f.text_field :post_code, placeholder:"000000", autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= f.label :住所, class: "brown-border px-3" %><br />
    <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= f.label :電話番号（ハイフンなし）, class: "brown-border px-3" %><br />
    <%= f.text_field :phone_number, placeholder:"0000000000", autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= f.label :パスワード, class: "brown-border px-3" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :パスワード（確認用）, class: "brown-border px-3" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<%= render "public/shared/links" %>
