<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>注文履歴一覧</h3>
        <table class="table">
          <thead>
            <tr>
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.created_at %>
              </td>
              <td>
                <%= order.delivery_post_code %><br />
                <%= order.delivery_address %><br />
                <%= order.customer.last_name %><%= order.customer.first_name %><br />
              </td>
              <td>
                <div>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %><br />
                <% end %>
                </div>
              </td>
              <td><%= order.bill %></td>
              <td><%= order.order_status_i18n %></td>
              <td><%= link_to "表示する", order_path(order) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>