<main>
  <div class="container">
    <div class="row">
      <div class="col-md-4 ">
        <div class="container pull-left table-responsive">
          <h3>注文履歴詳細</h3>
          <h4>注文情報</h4>
          <table class='table table-bordered'>
            <tr>
              <td>注文日</td>
              <td><%= @order.created_at %></td>
            </tr>
            <tr>
              <td>配送先</td>
              <td>
                <%= @order.delivery_post_code %><br />
                <%= @order.delivery_address %><br />
                <%= @order.customer.last_name %><%= @order.customer.first_name %><br />
              </td>
            </tr>
            <tr>
              <td>支払方法</td>
              <td><%= @order.pay_type_i18n %></td>
            </tr>
            <tr>
              <td>ステータス</td>
              <td><%= @order.order_status_i18n %></td>
            </tr>
          </table>
          <div class="offset-4">
            <h4>請求情報</h4>
            <table class='table table-bordered'>
              <tr>
                <td>商品合計</td>
                <td><%= @order.bill - 800 %></td>
              </tr>
              <tr>
                <td>配送料</td>
                <td><%= @order.postage %></td>
              </tr>
              <tr>
                <td>ご請求額</td>
                <td><%= @order.bill %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="container pull-left table-responsive">
          <table class='table table-borderd'>
            <thead>
              <tr>
                <th>商品</th>
                <th>単価（税込）</th>
                <th>個数</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.item.price %></td>
                <td><%= order_detail.amount %></td>
                <td><%= order_detail.subtotal %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
         </div>
      </div>
    </div>
  </div>
</main>