<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>注文履歴詳細</h3>
        <h4>注文情報</h4>
        <table class='table'>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              <%= @order.delivery_post_code %><br />
              <%= @order.delivery_address %><br />
              <%= @order.customer.last_name %><%= @order.customer.first_name %><br />
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.pay_type %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.order_status %></td>
          </tr>
        </table>
        <h4>請求情報</h4>
        <table class='table'>
          <tr>
            <td>商品合計</td>
            <td><%= @order.order_detail.price %></td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= 800 %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.order_detail.price + 800 %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>